footer.flex {
  justify-content: space-between;
  margin-bottom: 1rem;
  


}

footer.flex ul {
  display: flex;
  gap: 1rem;
}
li:hover {
  cursor: pointer;
}

li.active {
  scale: 0.8;
}
.modal  .active{
  
  box-shadow: 0 0 5px cyan;
  border-radius: 10px;
  padding: 10px;
}
footer .icon-menu {
  all: unset;
  font-size: 1.3rem;
  color: var(--subtitle);
  transition: 0.3s;
  text-decoration: none;
}
footer.flex ul a:hover {
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: 500;
  
}

footer.flex ul a {
  color: var(--subtitle);
  font-size: 0.9rem;
  font-weight: 400;
  transition: .3s;
  all: unset;
  
}
footer.flex ul a {
  color: var(--subtitle);
  font-size: 0.9rem;
  font-weight: 400;
  transition: .3s;
}

footer.flex ul a:hover {
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: 500;
}

footer.flex p {
  color: rgb(113, 113, 122);

}



footer.flex p {
  
  color: rgb(113, 113, 122);
  

}

/* =========================
3. @Meadia Query
========================= */

@media (max-width: 375px) {
  footer.flex {
    display: block;
    margin: 1rem;
    
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* border: 2px solid red; */
  }
  footer.flex ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: .1px;
    /* border: 2px solid rgb(255, 242, 0); */

  }

  footer.flex ul a {
    display: block;
  
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
  
    
    /* border: 2px solid rgb(0, 0, 255); */



  }

  footer p {
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    transition: .3s;
    
    margin-top: 10px;
    margin-bottom: 14px;
    justify-content: center;
    /* border: 2px solid rgb(195, 255, 0); */


  }


}
/* ====================================
==================================== */
@media (max-width: 414px) {
  footer.flex {
    display: block;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* border: 2px solid red; */
  }
  footer.flex ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: .1px;
    /* border: 2px solid rgb(255, 242, 0); */

  }

  footer.flex ul a {
    display: block;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    /* border: 2px solid rgb(0, 0, 255); */
  }

  footer p {
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 14px;
    justify-content: center;
    /* border: 2px solid rgb(195, 255, 0); */
  }


}
/* ====================================
==================================== */
@media (max-width: 430px) {
  footer.flex {
    display: block;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* border: 2px solid red; */
  }
  footer.flex ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: .1px;
    /* border: 2px solid rgb(255, 242, 0); */

  }

  footer.flex ul a {
    display: block;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    /* border: 2px solid rgb(0, 0, 255); */
  }

  footer p {
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 14px;
    justify-content: center;
    /* border: 2px solid rgb(195, 255, 0); */
  }


}
/* ====================================
==================================== */

