/* =============
table of contents
================
1. Left Section
2. Right Section ==> Animation
3.
4.
*/

/* =========================
1. Left Section
========================= */

section.hero {
  margin-top: .2rem;
}

section.hero .parent-avatar.flex {
  align-items: end;
  gap: 0.6rem;
  min-height: 88px;
}

section.hero .left-section {
  flex-grow: 1;
}

section.hero .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

section .avatar {
  width: 88px;
  border-radius: 50%;
  border: 1px solid rgb(178, 154, 154);
  padding: 1px;
  box-shadow: 2px 2px 40px rgb(116, 110, 144) inset;
}

section.hero h1.title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 20px 0;
  color: var(--title);
}

section.hero p.subtitle {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
}

section.hero .all-icons {
  font-size: 1.3rem;
  gap: 1.5rem;
  color: var(--subtitle);
}

section.hero .all-icons .icon:hover {
  font-size: 1.5rem;
  transition: .2s;
  cursor: pointer;
  color: var(--icon-hover);

}

/* =========================
2. Right Section ==> Animation
========================= */
section.hero .animation {
  width: 50%;
  translate: 1px 170px;
}

.animation2 {
  width: 120%;
  translate: 80px 100px;
}







/* =========================
3. @Meadia Query
========================= */
@media(max-width: 375px) {

  section.hero h1.title {
    font-size: .5rem;
    line-height: 1.4rem;
    margin: 5px 1px;
    text-align: start;
  }

  .right-section {
    display: none;
  }

  section.hero .animation {
    display: none;
  }

  section.hero .left-section {
    width: 100%;
  }

  section.hero p.subtitle {

    font-size: 0.5rem;
    line-height: 1.4rem;
    margin-bottom: 15px;
    text-align: start;


  }

}
/* ====================================
==================================== */

@media(max-width: 390px) {

  section.hero h1.title {
    font-size: .5rem;
    line-height: 1.4rem;
    margin: 5px 1px;
    text-align: start;
  }

  .right-section {
    display: none;
  }

  section.hero .animation {
    display: none;
  }

  section.hero .left-section {
    width: 100%;
  }

  section.hero p.subtitle {

    font-size: 0.5rem;
    line-height: 1.4rem;
    margin-bottom: 15px;
    text-align: start;
  }
}
/* ====================================
==================================== */

@media(max-width: 412px) {

  section.hero h1.title {
    font-size: .5rem;
    line-height: 1.4rem;
    margin: 5px 1px;
    text-align: start;
  }

  .right-section {
    display: none;
  }

  section.hero .animation {
    display: none;
  }

  section.hero .left-section {
    width: 100%;
  }

  section.hero p.subtitle {

    font-size: 0.5rem;
    line-height: 1.4rem;
    margin-bottom: 15px;
    text-align: start;


  }

}
/* ====================================
==================================== */

@media(max-width: 540px) {
  .contact-animation{
    padding-right: 50px;
    font-size: 100px;
  }
}

/* @media (max-width: 600px){

  section.hero{
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px ;
    
  }
  section.hero .all-icons{
    font-size: 1.3rem;
    gap: 1rem;
    color: var(--subtitle);
    margin-left: 20px;
    
  }
  
  
  section.hero h1.title{
    font-size: 2rem;
    line-height: 3rem;
    margin: 20px ;
    
  }
  
  section .avatar {
    margin-left: 20px;
    
  }
  
  section.hero p.subtitle{
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.8rem;
    margin-bottom: 32px;
    margin: 20px ;
  } 
}
@media (max-width: 1250px) {

  section.hero .animation {
    display: none;
  }} */